body {
	margin-top: 50px;
}

.jumbotron {
	overflow: auto;
}

.well {
	overflow: auto;
}


#jt .brand-color {
	color: green;
}

.carousel-caption {
	right: 10%;
	left: 10%;
}

.carousel-caption {
	text-align: left;
	line-height: 1.5em; 
	font-size: 18px;
}

.carousel-caption img {
	width: 100%;
}

.carousel-caption li {
	list-style: none;
	font-size: 20px;
}

section#jt-feature-list, 
section#jt-price-plan,
section#domain-jumbotron, 
section#domain-search  {
	margin-top: 50px;
}

footer {
	margin-top: 50px;
	line-height: 50px;
	height: 50px;
	text-align: center;
	color: #fff;
	background-color: #222222; 
}